.keyboard-register {
  grid-area: footer;
  overflow: auto;
  white-space: nowrap;
  bottom: 0;
  height: 200px;
}

.white {
  width: 1.93%;
  height: 100%;
  display: inline-block;
  background: white;
  border-left: 1px solid black;
}

.black-positioning {
  position: relative;
  right: .5%;
  bottom: 30%;
}

.black-positioning::after {
  box-shadow: 2px 2px 5px #888;
  content: "";
  position: absolute;
  width: 1.7ex;
  height: 140px;
  bottom: 30%;
}


.black::after {
  background: black;
}


.selected::after {
  background: blue;
}
