html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, button {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: sans-serif;
}


.main-page {
  display: grid;
  grid-template-areas:
    'header'
    'analyzer'
    'annotator'
    'footer';
}


@media (max-width: 649px) {
  .score-render-div {
    display: none;
  }
}

@media (min-width: 650px) {
  .score-render-div {
    grid-area: annotator;
  }


  .main-page {
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
      "header header"
      "annotator analyzer"
      "footer footer"
  }
}

@media (min-width: 1000px) {
  .score-render-div {
    grid-area: annotator;
  }

  .main-page {
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "header header"
      "annotator analyzer"

      "footer footer"
  }
}
