html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, button {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
  background-color: gray;
}

.keyboard-register {
  overflow-x: scroll;
  position: absolute;
  bottom: 0;
  display: flex;
  height: 150px;
}

.white-key {
  width: 50px;
  background: white;
  border-left: 1px solid black;
}

.black-key {

  position: relative;
    right: .75%;
  /* background-color: ?green; */
}

.black-key::after {
  content: "";
  position: absolute;
  background: black;
  width: 40px;
  height: 140px;
  bottom: 30%;
}

.selected {
  background: purple;
}
