.nav-header-div {
  display: flex;
  grid-area: header;
  justify-content: space-between;
  background: black;
  color: white;
}

.nav-header {
  font-size: 200%;
}

.nav-header-large {
  display: none;
}

.fa-github{
  FONT-SIZE: 150%;
  color: white;
}

.instructions {
  color: white;
  margin: 6%;
}

.hidden {
  display: none;
}

.instruction-drop-down {
  /* display: block; */
  border-radius: 10px;
  padding: 10px 30px 10px;
  position: absolute;
  background-color: black;
  color:white;
  top: 30px;
  left: 10px;
}

.instructions:hover {
  color:gray;
}

.nav-session-buttons {
  margin-right: 1%;  padding-top: 1.5px;
}

@media (min-width: 650px) {
  .nav-header {
    display: none;
  }
  .nav-header-large {
    display: block;
    font-size: 150%;
  }
}
