.nav-header-div {
  display: flex;
  grid-area: header;
  justify-content: space-between;
  background: black;
  color: white;
}

.nav-header {
  font-size: 200%;
}

.nav-header-large {
  display: none;
}

@media (min-width: 650px) {
  .nav-header {
    display: none;
  }
  .nav-header-large {
    display: block;
    font-size: 150%;
  }
}
